<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/d7bd81806f.js" crossorigin="anonymous"></script> 
   
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="home login">
    <header class="home-header">
        

        <section class="home-header-nav">
        <nav>
            <img  src="img/logo-mercado-liebre.svg" alt="logo">

            
            <div class="home-header-barraDeBusqueda">
            
            <input type="text" placeholder="Buscar productos, marcas">
            <button><i class="fa-solid fa-magnifying-glass"></i></button> 
            </div>
          
        </nav>
        <div class="home-header-compra">
            <p ><i class="fa-solid fa-hand-holding-dollar"></i>
                Compra en coutas y sin tarjeta de credito</p>
        </div>
        </section>

        
         
        <section class="home-header-menu">
            <article>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        </article>
       

       <article>
        <ul>
            <li><a href="/login">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
            <li><a href="/register">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="">Mis compras <i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
        </article>
        
        
        <div class="burger-menu">
            <i class="fas fa-bars"></i>

        </div>
    
    </section>
    </header>

    <main class="login-main">
        <form action="">
            <div class="login-main-container">
             
            <div class="login-main-username">
            <label for="user-name"></label>
            <input type="text" name="user-name" id="user-name" placeholder="Nombre de usuario" required>
            </div>

            <div class="login-main-pass">
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="Contraseña" required>
            </div>

            <div class="login-main-button">
            <a href="/">Enviar</a> 
            </div>
        </div>

        </form>

    </main>
    <footer class="home-footer">

        <section class="home-footer-section">
            <article >
                <div><i class="fa-solid fa-credit-card" style="color: #0b39ef;"></i></div>
                <h4>Paga con tarjeta o en efectivo</h4>
                <p>Con MercadoLiebreCash tenes coutas sin 
                   interes con tarjeta o efectivo en puntos de
                   pago. ¡Y siempre es seguro!
                </p>
            </article>
        </section>

        <section class="home-footer-section">
            <article>
                <div><i class="fa-solid fa-gift" style="color: #0a60f5;"></i></div>
                <h4>Envio gratis desde $ 2.500</h4>
                <p>
                    Solo por estar registrado en Mercado liebre
                    tenes envios gratis en miles de productos. es
                    un beneficio de Mercado Puntos.
                </p>
            </article>
        </section>

        <section class="home-footer-section">
            <article>
                <div><i class="fa-solid fa-user-shield" style="color: #065df4;"></i></div>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebreCashno
                    hay nada que no puedas hacer porque estas
                    siempre protegid@</p>
                
            </article>
        
        </section>
        <p class="home-footer-pie">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </footer>
</body>
</html>