

/*Header*/

.home .home-header{
    background-color: #EAC926;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 30px;
    
   
}

 

.home-header-menu article ul li{
    display: none;
}

.home-header-nav{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    justify-content: space-between;
    width: 100%;
    
}

.home-header-nav nav{
    width: 100%; 
    display: flex;
    align-items: center;

   
     
}

.home-header-nav nav img{
   width: 50%;
   padding: 15px;
   padding-right: 5px;

}

.home-header-barraDeBusqueda  {
    position: relative;
    width: 50%;
    margin: 0;
    
    
   
    
}

.home-header-compra{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    
    
   }





.home-header-barraDeBusqueda input{
    width: 100%;
   
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.home-header-barraDeBusqueda button{
   
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    margin: 5px;
    padding: 0 5px;
    color: gray;
    border-left: 1px solid gray;
     
}

 






.burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    top: 10px; 
    margin: 15px auto 30px;
    
    background-color: #03264C;
    width: 15vw;
    height: 7vh;
    border-radius: 17%;
    color: white;
}

.home-header-img{
display: flex;
  
  height: 100%;
     
  margin-top: 25px;
}

.home-header-img{
    width: 100%;
     
}

.home-img{
    
    width: 100%;
    object-fit: cover;
    
 }


/*main*/
.home-main{
    width: 90%;
    display: flex; 
    align-items: center;
    flex-direction: column;
    padding: 10px 0px 10px 0px; 
    margin: 15px;
    
   
}

.home-main section{
    align-items: flex-start;
}

.home-main-article{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 15px;
    
}


.home-main h2{
    padding-top: 20px;
    padding-bottom: 20px;
}


.home-main h3{
    font-size: 16px;
}

.home-main-article img{
    width: 100%;  
}

.home-main-article-contenedor{
    background-color: white;
    border-top: 1px solid #ebebeb ; 
    padding: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: flex-start;
    
}
.home-main-article-contenedor h3{
    color: gray;
   /* padding-top: 30px ;
   padding-bottom: 20px;*/
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.home-main-article-contenedor:hover h3 {
    height: 40px;
}



.home-truck i{
   
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px; 
    transition: all 0.5s ease;
}

.home-truck i:hover{
    animation: rotate 1s;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(-90deg);
    }
}

p.home-main-precio {
    font-size: 18px; 
    width: 70%;
  }


.home-main-descuento {
    color: lightgreen;
    width:  30%;
}



/*Footer*/

.home-footer{
    background-color: white;
}

.home-footer-section{
    
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.home-footer-section div{
    margin-top: 60px;
}

.home-footer-section h4{
    font-size: 1.1rem;
    margin-top: 5px;
    margin-bottom: 0;
}

.home-footer-section p{
    margin-top: 0;
    color: gray;
    font-size: 15px;
    
}

.home-footer-section  div {
    font-size: 40px;
}

.home-footer-pie{
    font-size: 11px;
    color: gray;
    margin-top: 40px;
    margin-bottom: 20px;
}


@media (min-width: 361px){
  /*header*/


.home-header-barraDeBusqueda {
    display: flex;
    padding: 0;
   
}


.home-header-barraDeBusqueda input{
     
    border: solid 1px gray;
    margin-right: 2px;
    border-radius: 2px;
    
    
}

.home-header-barraDeBusqueda button{
   
   border: 1px solid gray;
   background-color: white;
   margin: 0;
   position: relative;
   margin-left: 2px;
    
     
}
  
.home-header-compra{
    justify-content: center;
}

  
  /*main*/
  .home-main{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
     
  }
  .home-main section {
    flex-direction: row;
    width: 100%; 
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    
  }

  .home-main section h2{
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
  }

  .home-main-article{
    margin: 0 0 5px 0px;
    box-shadow: none;
    width: 45%;
    padding: 0;
   
    flex-wrap: wrap;
    justify-content: space-between;
    
    transition: box-shadow 0.s ease;
    
  }

  .home-main-article:hover {
    box-shadow: 0px 0px 15px rgb(150, 150, 150);
}

  

  .home-main-article-contenedor{
    width: 100%;  
    justify-content: space-between;
    flex-wrap: wrap;
    
  }

  p.home-main-precio {
    font-size: 14px; 
    flex-wrap: wrap;
     
  }


.home-main-descuento {
     
    flex-wrap: wrap;
    
}
 
}


@media (min-width: 761px){
    /*header*/
    .home-header-nav{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .home-header-nav nav img{
        width: 250px;
        padding: 15px;
        padding-right: 5px;
    }

    .home-header-barraDeBusqueda{
        padding-left: 15px;
        flex-grow: 1;
    }

    .home-header-compra{
        display: flex;
        text-align: center;
        justify-content: center;
        margin: auto;
        width: 50%;
    }


    .home-header-menu{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    
    .home-header-menu article{
        display: inline;
        
      }
    
      .home-header-menu article ul li{
        display: flex;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .burger-menu{
        display: none;
    }

    .home-header-img{
        height: 90px;
    }
    /*main*/
    .home-main{
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
        margin: auto
    }

    .home-main-article{
        width: 24%;
        flex-direction: row;
        
      
    }

      .home-main-article-contenedor{
        justify-content: space-between;
        display: flex;
         
      }
    
    /*footer*/

    .home-footer{
        
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        
    }

    .home-footer-section{
        width: 30%;
    }

    .home-footer-pie{
        width: 100%;
        margin-left: 20px;
    }
   
     
  }